#dialogs > dialog {
  background: $color-white1;
  border: 0;
  box-shadow: 0 0 0 1000vh rgba($color-black, .3);
  color: $color-gray8;
  max-height: 90vh;
  max-width: 70vw;
  padding: 0;
  position: fixed;
  top: 20vh;
  z-index: 10;

  .dialog-title {
    background: $color-black2;
    color: rgba($color-white, .6);
    font-family: Ubuntu, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    padding: 9px;
    width: 100%;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .dialog-close {
    color: $color-white1;
    opacity: .5;
    padding: 10px;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 0;
  }

  .dialog-content {
    padding: 10px 30px;
    width: 100%;

    .dialog-options {
      color: $color-gray8;
      text-align: center;
      width: 100%;

      a {
        color: inherit;
        font-size: 14pt;
        padding: 0 10px;
        padding-top: 10px;
        text-decoration: none;
      }
    }
  }
}
