#dialogs > dialog {
  background: $color-white1;
  border: 0;
  color: $color-gray8;
  margin: 0 10vw;
  max-height: 90vh;
  padding: 0;
  position: fixed;
  top: -100%;
  width: 80vw;
  z-index: 10;

  .dialog-cover {
    background: $color-blue;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .dialog-bg {
    background: rgba($color-black, .3);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .dialog-title {
    background: $color-black1;
    color: rgba($color-white, .8);
    font-family: Ubuntu, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    padding: 9px;
    width: 100%;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .dialog-close {
    color: $color-white1;
    opacity: .5;
    padding: 10px;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 0;
  }

  .dialog-content {
    background: $color-white1;
    font-size: 11pt;
    padding: 10px 30px;
    width: 100%;

    .dialog-options {
      color: $color-gray4;
      padding: 10px 0;
      text-align: center;
      width: 100%;

      h1,
      h2,
      p {
        color: $color-black1;
        margin: 0;
        padding: 10px 0;
      }

      h1 { font-size: 18pt; }
      h2 { font-size: 16pt; }
      h3 { font-size: 14pt; }

      a {
        color: $color-blue;
        font-size: 10pt;
        padding: 0 5px;
        text-decoration: none;
        transition: opacity 250ms;

        &:hover {
          opacity: .7;
        }

        &.fa {
          color: inherit;
          font-size: 16pt;
          padding: 0 10px;
        }

        &.fa-user { font-size: 14pt; }
      }
    }
  }
}

#dialogAbout {
  h1 {
    font-family: Ubuntu, sans-serif;
    margin: 0;
    margin-bottom: 10px;

    small {
      font-size: 60%;
    }
  }

  img {
    max-width: 100%;
  }

  p {
    font-size: 10pt;
    margin: 0;

    em {
      font-size: 110%;
    }
  }
}
