#header {
  background: url('../resources/background.png') $color-blue;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  border-bottom: 10px $color-dark solid;
  color: $color-white;
  font-family: Ubuntu, sans-serif;
  padding-bottom: 33px;
  width: 100%;

  .nav.nav-header {
    background: rgba($color-black, .15);
    margin-bottom: 30px;
    padding: 15px;
    width: 100%;

    .nav-icon-brand {
      display: inline-block;
    }

    .nav-icon {
      color: $color-white;
      display: inline-block;
      font-size: 16pt;
      max-height: 16pt;
      opacity: .5;
      text-decoration: none;
      transition: opacity 250ms;
      vertical-align: middle;
    }

    a.nav-icon:hover,
    a.nav-icon:focus,
    a.nav-icon:active {
      opacity: .8;
    }

    h3 {
      display: inline-block;
      font-size: 11pt;
      margin: 0;
      opacity: .5;
      padding-left: 12px;
      vertical-align: middle;
    }

    .nav-right {
      float: right;

      .nav-icon {
        padding-right: 50px;
        width: 0;

        &:last-child {
          padding-right: 30px;
        }
      }
    }
  }

  h1 {
    font-size: 36pt;
    margin: 0;
    position: relative;
    text-align: center;
  }

  h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    font-weight: normal;
    margin: 0;
    opacity: .7;
    position: relative;
    text-align: center;
  }
}
