#list {
  height: calc(100vh - 177px);
  overflow-y: scroll;
  padding-bottom: 10px;

  .list-reorder-guide {
    background: $color-blue;
    border-radius: 2px;
    height: 5px;
    left: 15px;
    opacity: .5;
    position: relative;
    top: 4px;
    width: calc(100% - 15px);
  }
}

#listNode,
#menu > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  > li {
    display: flex;
    padding: 0 15px;
    padding-top: 3px;
    position: relative;
    user-select: none;
    width: 100%;

    &.list-item-rule {
      padding: 5px 20vw;

      > h1 {
        color: $color-gray5;
        font-family: Ubuntu, sans-serif;
        margin: 0;
        margin-bottom: -10px;
        padding-top: 5px;
        width: 100%;
      }
    }

    > .list-icon {
      flex: 0 0 40px;
      padding-right: 15px;

      .fa {
        background: $color-gray2;
        border-radius: 20px;
        color: $color-white;
        display: flex;
        font-size: 20px;
        height: 40px;
        margin-top: 15px;
        text-decoration: none;
        transition: all 250ms;
        width: 40px;

        &:hover {
          opacity: .8;
        }

        &::before {
          display: block;
          margin: auto;
        }
      }

      .fa-check { background: $color-blue; }
      .fa-star { background: rgba($color-blue, .7); }
    }

    > .list-body {
      cursor: pointer;
      flex: 1 1 auto;

      hr {
        border: 0;
        border-top: 1px rgba($color-black, .15) solid;
        margin: 3px auto;
        width: 90%;
      }

      h1 {
        color: $color-gray7;
        font-family: Ubuntu, sans-serif;
        font-size: 21pt;
        font-weight: 600;
        margin: -2px 0;
        padding: 0;

        small {
          color: $color-gray4;
          font-size: 60%;
          padding: 0 10px;
        }
      }

      p {
        color: $color-gray5;
        display: none;
        margin: 0;
        padding-top: 10px;
      }

      .list-options {
        padding-top: 6px;
        text-align: center;

        a {
          color: $color-gray2;
          display: inline-block;
          font-size: 16pt;
          padding: 0 20px;
          text-decoration: none;
          transition: color 250ms;

          &:hover {
            color: $color-gray3;
          }
        }
      }
    }

    > .list-reorder-guide {
      position: absolute;
    }

    &.list-item-moving {
      opacity: .6;
    }
  }
}

ul.entry-changes {
  color: $color-gray4;
  font-size: 11pt;
  list-style-type: none;
  padding: 0;
  width: 100%;

  li {
    padding-left: 15px;

    .list-change-icon {
      font-size: 80%;
      opacity: .7;

      &.fa-check {
        color: $color-blue;
      }
    }

    .list-change-user {
      &::before { content: ' by '; }
      &::after { content: ' '; }
    }
  }
}

#listOptions {
  color: $color-gray3;
  font-size: 25px;
  padding-top: 20px;
  text-align: center;
  width: 100%;

  a {
    color: inherit;
    padding: 0 10vw;
    text-decoration: none;
    vertical-align: middle;

    &:nth-child(2) {
      font-size: 120%;
    }
  }
}
