#menu {
  padding: 0 5%;

  button {
    background: $color-blue;
    border: 0;
    color: $color-white1;
    cursor: pointer;
    display: block;
    font-size: 12pt;
    font-weight: bold;
    margin: 10px auto;
    padding: 10px 30px;
    transition: opacity 250ms;

    &:hover,
    &:active {
      opacity: .7;
    }
  }

  h1 {
    border-bottom: 1px $color-gray2 solid;
    color: $color-gray6;
    padding: 10px 0;
    text-align: center;
  }
}
