#menu {
  background: $color-white1;
}

.menu-header {
  background-color: $color-black2;
  color: rgba($color-white1, .6);
  padding: 15px;
  width: 100%;

  h1 {
    font-family: Ubuntu, sans-serif;
    font-size: 12pt;
  }
}
