#menu {
  overflow-y: overlay;
  padding-bottom: 10px;

  button {
    background: $color-blue;
    border: 0;
    color: $color-white1;
    cursor: pointer;
    display: block;
    font-size: 12pt;
    font-weight: bold;
    margin: 10px auto;
    padding: 10px 30px;
    transition: opacity 250ms;

    &:hover,
    &:active {
      opacity: .7;
    }

    &:hover,
    &:active,
    &:focus {
      outline: none;
    }
  }

  > hr {
    border: 0;
    border-top: 1px $color-gray2 solid;
    margin: 0 10%;
    opacity: .7;
  }

  p {
    color: $color-gray4;
    margin: 0;
    padding: 10px;
    text-align: center;
  }

  h2 {
    color: $color-gray5;
    font-size: 14pt;
    margin: 20px;
    margin-bottom: -5px;
    padding-left: 5vw;
  }
}
