ul.list#listTemplateNode(style='display: none')
  .list-reorder-guide
  li.list-item
    .list-icon
      a.fa
    .list-body
      hr
      h1 List Title
      ul.entry-changes
        li.list-change
          .list-change-icon.fa
          span.list-change-user Unnamed
          span.list-change-time an hour ago
      p ERR_NO_DATA The list description could not be queried.
      .list-options
        a.fa.fa-close(href='javascript:')
        a.fa.fa-pencil(href='javascript:')
        a.fa.fa-info(href='javascript:')
  li.list
    .list-icon
      a.fa(href='javascript:')
    .list-body
      hr
      h1 List Title
      ul.entry-changes
        li.list-change
          | Updated 
          span.list-change-time an hour ago

section#list
  #listOptions
    a.fa.fa-info(href='javascript:')
    a.fa.fa-plus(href='javascript:')
    a.fa.fa-cog(href='javascript:')

  form#listCreationPrompt(style='display:none', action='javascript:')
    input(type='text')
    input(type='submit' style='display:none')
    a.fa.fa-check(href='javascript:' onclick='$("#listCreationPrompt").submit()')
    a.fa.fa-close(href='javascript:')

  ul.list#listNode
