section#menu
  button(href='javascript:') New List
  .menu-section(style='display: none')
    h1 Favorites
  
  .menu-section
    h1 My Lists
    p No lists? Why not make one?
  
  .menu-section(style='display: none')
    h1 Shared
    p Looks like you're offline. :C
