section#menu
  button(href='javascript:') New List
  hr
  p No lists? Why not make one?
  
  h2 Favorites
  ul#menuCategoryFavorites 
  h2 My Lists
  ul#menuCategoryPersonal
  h2 Shared
  ul#menuCategoryShared 
  
