extends layout/layout.pug

block body
  #loadingCover
    img(src='resources/media2_thumbnail-white.svg')
    i.fa.fa-cog.fa-spin
  
  include include/dialog.pug
  include include/header.pug
  
  .body-content
    .body-cover
    include layout/menu.pug
    include layout/list.pug
