mixin dialog(id, title, icon)
  dialog(id='dialog' + id)
    .dialog-title
      if icon
        a(class='fa fa-'+icon href='javascript')
      = ' ' + title
    a.dialog-close.fa.fa-close(href='javascript:')
    .dialog-content
      block

section#dialogs
  +dialog('ListPrompt', 'New List')
    form(action='javascript:')
      input(type='text')
      input(type='submit' value='Create List')
