mixin dialog(id, title, icon)
  dialog(id='dialog' + id)
    .dialog-cover
    .dialog-bg
    .dialog-title
      if icon
        a(class='fa fa-'+icon href='javascript')
      = ' ' + title
    a.dialog-close.fa.fa-close(href='javascript:')
    .dialog-content
      block

section#dialogs
  //- New list
  +dialog('ListPrompt', 'New List')
    form(action='javascript:')
      input(type='text')
      input(type='submit' value='Create List')
        
  //- Edit list
  +dialog('ListEditPrompt', 'Edit List')
    form(action='javascript:')
      input(type='text')
      input(type='submit' value='Rename')
    .dialog-options
      a.fa.fa-close(href='javascript:')
      a.fa.fa-users(href='javascript:')
  
  //- New list item
  +dialog('ListItemPrompt', 'New Item')
    form(action='javascript:')
      input(type='text')
      input(type='submit' value='Create Item')
    .dialog-options
      a(href='javascript:' data-type='note') New Note
      a(href='javascript:' data-type='rule') New Divider
  
  //- Confirmation
  +dialog('Confirm', 'Confirm Action')
    p.text-center.target Confirm action?
    .text-center
      a.btn.btn-confirm(href='javascript:') Confirm
      a.btn.btn-cancel(href='javascript:') Cancel
  
  //- About
  +dialog('About', 'About ' + app.productName)
    h1
      = app.productName + ' '
      small= app.version
    p.text-center
      | WeToDo is an easy-to-use and open-source time-tracker and To-do list,
      | designed to be colaborative and friendly.
      
    p.text-center(style='margin: 5px')
      a(href='https://github.com/VevoxDigital/WeToDo' target='_system') GitHub
      | -
      a(href='http://vevox.io/p/wetodo' target='_system') Workshop
    
    hr
    p.text-center
      em To my Warrior, Half the World Away
      br
      | Copyright &copy; Matthew Struble, 2017
