mixin dialog(id, title, icon)
  dialog(id='dialog' + id)
    .dialog-title
      if icon
        a(class='fa fa-'+icon href='javascript')
      = ' ' + title
    a.dialog-close.fa.fa-close(href='javascript:')
    .dialog-content
      block

section#dialogs
  //- New list
  +dialog('ListPrompt', 'New List')
    form(action='javascript:')
      input(type='text')
      input(type='submit' value='Create List')
        
  //- Edit list
  +dialog('ListEditPrompt', 'Edit List')
    form(action='javascript:')
      input(type='text')
      input(type='submit' value='Rename')
    hr
    .dialog-options
      a.fa.fa-close(href='javascript:')
      a.fa.fa-share(href='javascript:')
  
  //- New list item
  +dialog('ListItemPrompt', 'New Item')
    form(action='javascript:')
      input(type='text')
      input(type='submit' value='Create Item')
  
  //- About
  +dialog('About', 'About ' + app.productName)
    h1= `${app.productName} v${app.version}`
    strong TODO Some info needs to be here.
    
    hr
    strong To my Warrior, Half the World Away
    em Copyright &copy; Matthew Struble, 2017
