section#header
  nav.nav.nav-header
    .nav-icon-brand
      a.nav-icon.fa.fa-arrow-left(href='javascript:' style='display: none;')
      img.nav-icon(src='resources/media2_thumbnail-white.svg')
    h3.nav-brand WeToDo
    .nav-right
      a.nav-icon.fa.fa-info(href='javascript:')
      a.nav-icon.fa.fa-user(href='javascript:')
      a.nav-icon.fa.fa-cog(href='javascript:')
  h1#headerTitle Hi, Username
  h2#headerSubtitle Premium Account
