section#header
  nav.nav.nav-header
    a.nav-icon.fa.fa-bars(href='javascript:')
    h3.nav-brand WeToDo
    .nav-right
      a.nav-icon.fa.fa-info(href='javascript:')
      a.nav-icon.fa.fa-user(href='javascript:')
      a.nav-icon.fa.fa-github-alt(href='https://github.com/VevoxDigital/WeToDo' target='_system')
  h1#headerTitle Hi, Username
  h2#headerSubtitle Premium Account
