// dependencies
script(src='bower_components/jquery/dist/jquery.min.js')

// core scripts
script(src='js/app.js')

// dependent styles
link(rel='stylesheet' type='text/css' href='bower_components/font-awesome/css/font-awesome.css')

// core styles
link(rel='stylesheet' type='text/css' href='style/app.css')
